<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title><%= @title %></title>
    <link rel="shortcut icon" href="/static/favicon.ico" />

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="/static/css/carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">ElixirConf 2014 - Austin</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
<!--
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
-->
                <li><a href="https://www.formstack.com/forms/?1710402-y4rOTw9FLr">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img class="img-responsive" src="/static/images/austin3.jpg" width="900" alt="ElixirConf in Austin">
          <div class="container">
            <div class="carousel-caption">
              <h1>ElixirConf 2014</h1>
              <h2>July 25-26, 2014  Austin, TX</h2>
              <p>Call for Speaker Proposals Now Open!</p>
              <p><a class="btn btn-lg btn-primary" href="https://www.formstack.com/forms/?1708372-OVfYN9eWui" role="button">Submit a talk</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/static/images/lsrc3.jpg" alt="ElixirConf in Austin">
          <div class="container">
            <div class="carousel-caption">
                <h1>Venue: Norris Conference Center</h1>
              <p>2525 W. Anderson Lane, Suite 365, Austin, Texas 78757</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="/static/images/jose.jpg" height="140px" alt="José Valim">
          <h2>José Valim</h2>
          <p>José Valim is the creator of the <a href="http://elixir-lang.org/">Elixir language</a>.  José is also a Rails Core Team Member and the founder of <a href="http://plataformatec.com.br/">plataformatec</a>.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/static/images/prag_dave_thomas.jpg" height="140px" alt="Dave Thomas">
          <h2>Dave Thomas</h2>
          <p>Dave Thomas is a programmer. He's also an accomplished author and <a href="http://pragprog.com/">publisher</a>. Dave Thomas is the author of the <a href="http://pragprog.com/book/ruby4/programming-ruby-1-9-2-0">Programming Ruby</a> series, which he first published in 2000, helping Ruby on its way to popularity. Dave has done the same with his book, <a href="http://pragprog.com/book/elixir/programming-elixir">Programming Elixir</a>.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
            <a href="https://www.formstack.com/forms/?1708372-OVfYN9eWui">
            <h2 class="featurette-heading">CFP Now Open</h2></a>
          <p class="lead">
          Talk submissions are being accepted until April 16.
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/static/images/erl-speaker.jpg" alt="CFP Now Open">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/static/images/elixir-logo2.png" width="450px" alt="Registration now open">
        </div>
        <div class="col-md-7">
          <a href="https://www.eventbrite.com/e/elixirconf-2014-tickets-11044184453">
            <h2 class="featurette-heading">Registration</h2></a>
          <p class="lead">
          Early bird tickets are avaialble now until June 1.
          </p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Venue: 
            <a href="http://norriscenters.com/Austin/">
              <span class="text-muted">Norris Conference Center</span>
            </a>
          </h2>
          <p class="lead">2525 W. Anderson Lane, Suite 365, Austin, Texas 78757</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/static/images/norris.jpg" alt="Norris Conference Center">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/static/images/hotel.jpg" alt="Conference Hotel">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Conference Hotel <span class="text-muted"></span></h2>
          <p class="lead">
          Hyatt Place Austin/Arboretum<br>
          3612 Tudor Boulevard<br>
          Austin, Texas, USA, 78759<br>
          Tel: +1 512 231 8491<br>
          </p> 
          <p>
          You can now reserve rooms in either of two ways:
          </p>

          <p>
          1) By calling Hyatt Reservations at 877-242-3654, 
            and requesting a room reservation using group code <b>G-ELIX</b>. 
            The Reservations Agent will be able to quote availability of the group rate 
            on the requested dates, and reserve one of the group rooms for you.
          </p>
           
          <p>
          2) By visiting <a href="http://austinarboretum.place.hyatt.com/en/hotel/home.html?corp_id=G-ELIX">Hyatt Place Austin Reservations</a>
          </p>
           
          <p>
          If no rooms are available, tweet @jimfreeze to add more rooms to the block. If you have any questions about the reservations process, please let us know. 
          </p>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
<!--
        <p>&copy; 2014 ??, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
-->
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
    <script src="/static/assets/docs.min.js"></script>
  </body>
</html>

